name: Deploy Prod Demo
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Deployment Demo
    runs-on: ubuntu-latest
    steps:
      - name: SSH Remote
        uses: fifsky/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          user: ${{ secrets.SSH_USER }}
          pass: ${{ secrets.SSH_PASSWORD }}
          port: 11103
          command: cd /Users/yusufakhsanhidayat/Web/auto-deploy-github-actions && git pull origin master && npm install && npm run build && pm2 restart web
